.img_container {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: aliceblue;
}

.hero_card {
  /* border: 1px solid; */
}

.hero_card img {
  object-fit: cover;
}

.img_container img {
  width: 100%;
  height: auto;
}

.hero_card_container_a {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  gap: 1em;
}

.testimonials_styles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* justify-content: center; */
  gap: 2rem;
  /* padding: 2rem 1rem; */
  /* padding: 2rem 0; */
}

@media screen and (max-width: 780px) {
  .testimonials_styles {
    display: flex;
    gap: 1rem;
    /* padding: 1rem; */
    overflow-y: auto;
  }
}
